<% provide :title, "ーー”仕事”を知る、知らせる" %>

<div class='contents'>
  <div class='middle_content4'>
    <h6>Jobsとは？</h6>
    <ul class='what_is_jobs'>
      <li class='what_is_jobs1'>いろいろな仕事について知れる</li>
      <div class='what_is_jobs2'>Jobsでは１人１つ、自分のいままでやってきた仕事についての詳しい記事をかいてもらっています。<br>
      その記事は自分の体験に基づいて書かれているのでリアルな情報を知ることができます。
      将来の自分の職について迷っている方や、自分のいまの職に困っている人や、いろいろな仕事に就く人が何を思って何をしているかを知りたい人におすすめです。
      </div>
      <li class='what_is_jobs1'>自分の仕事を知ってもらえる</li>
      <div class='what_is_jobs2'>
        自分の仕事が時に知名度が低いものであるかもしれません。 <br>
        しかし記事を読んでもらうことで自分の仕事について知ってもらうことができるでしょう。
      </div>
      <li class='what_is_jobs1'>Jobsでつながる</li>
      <div class='what_is_jobs2'>
        Jobsではコメント機能によりユーザー同士でのコミュニケーションが可能で、気になった職業に就く人とつながることができます。
        <!-- さらにフォロー機能によってお気に入りのユーザーの近況の情報や更新したという情報について通知を受けることであなたのタイムラインに更新されます。 -->
      </div>


    </ul>
  </div>
</div>
