
<div class='contents'>
  <div class='middle_content'>
    <% @articles.each do |article| %>
      <div class='message_box clearfix'>
        <%= image_tag 'bg.jpg', class: 'sample_image' %>
        <div class='message'>
        <p class="name">
          <%= article.nickname %>
        </p>
        <p class='job'>
       <%= article.job %>
        </p>
        <p class='text'>
       <%= article.content%>
        </p>
       </div>
     </div>
    <% end %>
  </div>
</div>