
<div class='contents'>
  <div class='middle_content'>
    <% @articles.each do |article| %>
       <%= article.nickname %>
       <%= article.job %>
       <%= article.content%>
    <% end %>
  </div>
</div>