<% provide :title, "ーー”仕事”を知る、知らせる" %>

<div class='contents2'>
  <div class='middle_content2'>
    <p class='complete'>投稿が完了しました</p>
    <%= link_to '近況一覧へ', "/tweets", class: 'go_to_top' %>
  </div>
</div>