<% provide :title, "ーー”仕事”を知る、知らせる" %>

<div class='contents'>
  <div class='middle_content2'>
        <p class='complete2'>編集が完了しました</p>
    <%= link_to 'マイページへ', "/users/show", class: 'go_to_top' %>
  </div>
</div>
