  <div class='top_content'>
  <div class='article_btn'>
    <%= link_to '記事を編集して充実させましょう', '/articles/#{@article}/edit' %>
    <p class='article_explanation'>あなたが就職を考え出した時からいままでにやってきたことを紹介しましょう。
    </p>
  </div>
  </div>