  <div class='top_content'>
  <div class='article_btn'>
    <%= link_to 'これまでのあなたの仕事について投稿しましょう', '/articles/new' %>
    <p class='article_explanation'>あなたが就職を考え出した時からいままでにやってきたことを紹介しましょう。
    </p>
  </div>
  </div>