  <div class='nav3 clearfix'>
      <div class='top_content1'>
        <div class='article_btn1'>
          <%= link_to 'メール・パスワードを編集する', edit_user_registration_path %>
        </div>
      </div>
    <div class='top_content2'>
     <div class='article_btn1'>
      <%= link_to 'マイページを編集する', edit_user_path(@user.id) %>
     </div>
    </div>
  </div>