<div class='top_content'>
    <div class='article_btn'>
    <%= link_to 'あなたの仕事の近況を報告しましょう', '/tweets/new' %>
    <p class='article_explanation'>現在進行中のプロジェクトや今後やりたいと思っている仕事についての情報を知らせてみましょう
    </p>
  </div>
  </div>